.root {
    -fx-background-color: black;
    -fx-font-family: "Courier New";
    -fx-font-size: 12px;
}

.slider .track {
    -fx-background-color: darkgray;
}

.slider .thumb {
    -fx-background-color: lime;
}

.combo-box {
    -fx-background-color: darkgray;
    -fx-text-fill: lime;
}

.combo-box .list-cell {
    -fx-background-color: darkgray;
    -fx-text-fill: lime;
}

.label {
    -fx-text-fill: lime;
}